


body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  <!--background: #660000;/-->
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('src/bg1.jpg');
}
.slide{
	background-image: url('src/RahmeComplexFormHor.png');
	background-repeat: no-repeat;
	
}
.ImgToPage_PropsAlOfSlide{
	width: 35%;
  border-radius: 20px;
  margin:10px;
 margin-left: 20%
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.ImgToPage_PropsAlOfSlide_1{
	
	width: 35%;
  border-radius: 20px;
  margin:10px;
 margin-left: 8%;
 margin-top: 10%;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.ImgToPage_PropsAlOfSlide_2{
	
	width: 30%;
  border-radius: 20px;
  
  top: 10vh;
  margin-left: 1%;
  margin-left: 6%;
   
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}
