@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  <!--background: #660000;/-->
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('suppl/bg1.jpg');
}
.container {
    width: 100%;
    display:flex;
    padding: 0 20px;
}

.slide{
  height: 80vh;
  border-radius: 20px;
  margin:10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
  
}



.slide.active{
  flex: 10;
}



.ImgToPage_PropsAlOfSlide{
	width: 30%;
  border-radius: 20px;
  margin:10px;
 margin-left: 20%
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.SubSlide_1{
	/*	width: 30%;
  border-radius: 20px;
  margin:10px;
 margin-left: 20%
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;*/
  /**/
  display:inline;
  position: relative;
}

.SubSlide_2{
	/*	width: 30%;
  border-radius: 20px;
  margin:10px;
 margin-left: 20%
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;*/
  /**/
  display:inline;
  position: relative;
}

.ImgToPage_PropsAlOfSlide_1{
	
	width: 30%;
  border-radius: 20px;
  margin:10px;
 /*margin-left: 20%;*/
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.ImgToPage_PropsAlOfSlide_2{
	
	width: 30%;
  border-radius: 20px;
  margin:10px;
  /*padding-top: 20%;*/
   
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.MySubSlide.active{
  flex: 10;
}

//<!--.slide h3{//
//  position: absolute;//
//  font-size: 24px;//
//  bottom: 20px;//
//  left: 20px;//
//  margin: 0;//
//  opacity: 0;//
//}//

//.slide.active h3{//
//  opacity: 1;//
//  transition: opacity 0.3s ease-in 0.4s; /-->//
//}//

//.MySubSlide2{//
//	height: 40vh;//
//  border-radius: 20px;//
//  margin-top: -150%;//
//  z-index:-1;//
//  
//  cursor: pointer;//
//  color: #fff;//
//  flex: 1;//
//  background-size: cover;//
//  background-position: center;//
//  background-repeat: no-repeat;//
//  position: relative;//
//  transition: all 500ms ease-in-out;//
//}//
.MySubSlide__pREV{
	height: 40vh;
	width: 30%;
  border-radius: 20px;
  margin:10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  tr
